body {
  margin: 72px 64px;
  background-color: #eef0f6;
}

h1, p, span, label, div {
  font-family: 'Trebuchet MS';
}

p {
  font-size: 18px;
}

h1 {
  font-weight: 500;
}

.container {
  width: 280px;
  padding: 36px 36px 48px 36px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 0 16px 0 rgba(16, 0, 78, 0.1);
}

button {
  padding: 12px 24px;
  border: none;
  border-radius: 64px;
  background-color: hsla(228, 75%, 36%, 0.15);
  color: #031F55;
  cursor: pointer;
  font-size: 18px;
  font-weight: 500;
  transition: background-color 0.2s;
  min-height: 48px;
}

button:hover {
  background-color: hsla(228, 75%, 36%, 0.25);
}

.client-card {
  margin-bottom: 32px; 
  border-radius: 8px; 
  overflow: hidden;
  background-color: white;
  cursor: pointer;
}

.card-header {
  background-color: hsla(228, 75%, 36%, 0.12);
  color: #031F55;
  padding: 10px;
  font-size: 20px;
}

.card-body {
  padding: 10px;
  background-color: white;
}

.order {
  width: 720px;
  margin-bottom: 32px;
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

}

.order-header {
  background-color: hsla(228, 75%, 36%, 0.12);
  color: #031F55;
  padding: 10px;
  font-size: 20px;
}

.order > img {
    width: 320px;
}

.order-body {
  padding: 12px 24px;
  background-color: white;
  font-size: 18px;
}

.form-input {
  margin-bottom: 16px;
  display: block;
}

input {
  width: 220px;
  padding: 12px 16px;
  border-radius: 6px;
  color: #031F55;
  font-size: 18px;
  background-color: hsla(228, 75%, 36%, 0.12);
  border: none;
}
input:focus {
  border: none;
  outline: none;
}
input:hover {
  border: none;
  background-color: hsla(228, 75%, 36%, 0.15);
}
input::placeholder {
  color: hsla(228, 87%, 15%, 0.25);
  opacity: 1;
}

select {
  width: 252px;
  padding: 12px 16px;
  border-radius: 6px;
  color: #031F55;
  font-size: 18px;
  background-color: hsla(228, 75%, 36%, 0.12);
  border: none;
}
select:focus {
  border: none;
  outline: none;
}
select:hover {
  border: none;
  background-color: hsla(228, 75%, 36%, 0.15);
}
select::placeholder {
  color: hsla(228, 87%, 15%, 0.25);
  opacity: 1;
}

#catalog {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.product-container {
  text-align: center;
  width: 280px;
  padding: 12px 16px;
  background-color: white;
  border-radius: 12px;
}

.loading {
  color: #999;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#productImage > img {
  height: 283px;
}
